# Local Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Terraform plan files
*.tfplan

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Local .terraform directories (provider plugins, modules cache)
.terraform/

# nohup output or other runtime logs
nohup.out

# Ignore any temporary or output files
*.out

